{% load static %}

<html>
    <head>
        <title>Photo Repo</title>
        <link rel="stylesheet" href="{% static 'css/photorepo.css' %}">
    </head>
    <body>
        <div class='Home'>
            <h1>Photo Repo</h1>
            <ul>
                {% for photo in object_list %}
                <div class='Photo'>
                    <img src='{{ photo.image.name }}' alt='{{ photo.photoName }}'>
                    <div class='Caption'>
                        <h3>{{ photo.photoName }}</h3>
                        <br>
                        <h4>Posted on {{photo.date}}</h4>
                        <button onclick="window.location.href='/delete/{{ photo.pid }}'">delete</button>
                    </div>
                </div>
                {% endfor %}
            </ul>
            <button onclick="window.location.href='/upload/'">add more</button>
        </div>
    </body>
</html>
